@font-face {
    font-family: "TTLakes Regular";
    src: local("TTLakes-Regular"),
    url("../fonts/TTLakes-Regular.woff") format('woff');
    font-weight: normal;
}
@font-face {
    font-family: "TTLakes Bold";
    src: local("TTLakes-Bold"),
    url("../fonts/TTLakes-Bold.woff") format('woff');
    font-weight: bold;
}
@font-face {
    font-family: "TTLakes Italic";
    src: local("TTLakes-Italic"),
    url("../fonts/TTLakes-Italic.woff") format('woff');
}
@font-face {
    font-family: "TTLakes Medium";
    src: local("TTLakes-Medium"),
    url("../fonts/TTLakes-Medium.woff") format('woff');
}
@font-face {
    font-family: "TTLakes ExtraBold";
    src: local("TTLakes-ExtraBold"),
    url("../fonts/TTLakes-ExtraBold.woff") format('woff');
    
}

.body{
width: 320px;
box-sizing: border-box;
font-family: "TTLakes Regular";
margin: 0;
}
.menu-header{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 24px 19px ;
    
    margin-bottom: 46px;
}
.icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    transition-duration: 0.2s;
}
.icon:hover{
    background-color: #7E7E82; 
    transform: scale(1.1);
} 

.exit{
background: #FF3E79 url(../images/close.svg) no-repeat 50% 50%;
    margin-right: 17px;
    transition-duration: 0.2s;
}
.exit:hover{
    background-color: #7E7E82;
    transform: rotate(90deg) scale(1.1);
}
.search{
    background: #FF3E79 url(../images/search.svg) no-repeat 50% 50%;
    margin-left: auto;
}
.services-list{
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    color: #1B1C21;
    padding: 0;
}
.services-list__item{
 margin-bottom: 32px;
}
.services-list__item>a{
    padding: 0;
    padding-left: 24px;
    text-decoration:none;
    color: #1B1C21;
}
.services-list__item>a:hover{
    border-left: 4px solid #41F6D7;
    border-radius: 4px;
    color: #7E7E82;
}
.menu-bottom{
    display: flex;
    justify-content: start;
    padding-left: 24px;
   
}
.call{
    background: #FF3E79 url(../images/call.svg) no-repeat 50% 50%;
    margin-right: 16px;
}
.chat{
    background: #FF3E79 url(../images/chat.svg) no-repeat 50% 50%;
    margin-right: 16px;
}
.profile{
    background: #FF3E79 url(../images/profile.svg) no-repeat 50% 50%;
    margin-right: 16px;
    margin-bottom: 5px;
}
.contacts>a{
    color: #1B1C21;
    margin-left: 24px;
    text-decoration:none;
}
.email{
  font-size: 16px;  
  font-weight: bold;
  margin-bottom: 12px;
}
.phone-number{
    font-size: 24px;
    font-family: TTLakes ExtraBold;
}
.ru, .en, .ch{
    font-size: 16px;
    color: #1B1C21;
    text-decoration: none;
    font-weight: bold;
    margin-right: 7px;
}
.ru{
    color: #7E7E82;
    margin-left: 24px;
}
